body {
    font-family: 'Roboto', sans-serif;
}

.nav-img {
    width: 300px;
}

.nav-img img {
    height: 30px;
}


.header a {
    color: #3C3C3C;
    font-weight: 500;
}

.header ul li a {
    color: #3C3C3C;
    font-weight: 500;
}

.header ul li{
    margin-right: 55px;
}

.header-img {
    width: 507px;
}

.header{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.hero{
    background: #FFF9F4;
    padding: 150px 80px;
}

.hero h2 {
    columns: #363958;
    font-size: 80px;
    font-weight: 700;
}

.color-text {
    color: #FA804C;
}

.hero img {
    width: 500px;
}

.hero p {
    width: 357px;
}

.hero-btn {
    width: 170px;
    height: 60px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.hero svg{
    width: 24px;
    height: 24px;
}

.hero button:hover{
    color: #FA804C;
    font-weight: 500;
}

.abs-img{
    margin-left: 300px;
}

@media screen and (max-width: 500px) {

    .nav-img {
        width: 200px;
    }

    .nav-img img {
        height: 25px;
    }

    .hero{
        padding: 80px 10px;
    }

    .hero h2 {
        font-size: 44px;
    }

}