body {
    font-family: 'Roboto', sans-serif;
}

.nav-img {
    width: 300px;
}

.nav-img img {
    height: 30px;
}


.header a {
    color: #3C3C3C;
    font-weight: 500;
}

.header ul li a {
    color: #3C3C3C;
    font-weight: 500;
}

.header ul li {
    margin-right: 55px;
}

.header-img {
    width: 507px;
}

.header {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.hero {
    background: #FFF9F4;
    padding: 150px 80px;
}

.hero h2 {
    columns: #363958;
    font-size: 80px;
    font-weight: 700;
}

.color-text {
    color: #FA804C;
}

.hero img {
    width: 500px;
}

.hero p {
    width: 357px;
}

.hero-btn {
    width: 170px;
    height: 60px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.hero svg {
    width: 24px;
    height: 24px;
}

.hero button:hover {
    color: #FA804C;
    font-weight: 500;
}

.abs-img {
    margin-left: 300px;
}

.shoes-container {
    margin: 100px 0;
}

.shoes-container h2 {
    color: #363958;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-col {
    width: 370px;
    height: 540px;
}

.main-col h5 {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}

.main-col p {
    width: 280px;
    margin: 10px 0;
}

.main-col h3 {
    color: #FA804C;
    font-size: 36px;
    font-weight: 900;
}

.marisang {
    width: 24px;
    height: 24px;
}

.img-bg {
    background-color: #F1F1F1;
    border-radius: 20px;
    width: 310px;
    height: 310px;
    margin: 20px;
}

.cart-main img {
    width: 80px;
    height: 80px;
    margin: 30px;
}

.cart-main h5 {
    color: #363958;
    font-size: 24px;
    font-weight: 700;
}

.cart-main p{
    width: 275px;
}

.col-cart-child{
    width: 75%;
}

@media screen and (max-width: 500px) {

    .nav-img {
        width: 200px;
    }

    .nav-img img {
        height: 25px;
    }

    .hero {
        padding: 80px 10px;
    }

    .hero h2 {
        font-size: 44px;
    }

    .shoes-container h2 {
        font-size: 34px;
    }
    .col-cart-parent{
        row-gap: 50px;
    }

    .col-cart-child{
        width: 100%;
    }

}