body {
    font-family: 'Roboto', sans-serif;
}

.nav-img{
    width: 300px;
}
.nav-img img{
    height: 30px;
}

@media screen and (max-width: 500px) {
    .nav-img{
        width: 200px;
    }
    .nav-img img{
        height: 25px;
    }
}

.header a{
    color: #3C3C3C;
    font-weight: 500;
}

.header-list ul li a {
    color: #3C3C3C;
    font-weight: 500;
}

.header-img{
    width: 507px;
}

.hero h2 {
    columns: #363958;
    font-size: 80px;
    font-weight: 700;
}
.color-text{
    color: #FA804C;
}
.hero p{
    width: 357px;
}
